/* ------------------------------ Responsive Media Styles ---------------------------- */

/* Medium Device: 1200px */
@media only screen and (max-width: 1199px) {
	.slider {
		.inner-slider__item {
			.caption {
				padding-left: 10%;
				.inner-caption {
					width: 70%;
					&__big-text {
						h1 {
							font-size: 60px;
							line-height: 60px;
						}
					}

					&__small-text {
						font-size: 13px;
						p {
							font-size: 16px;
						}

						.btn-shop {
							margin-top: 0;
						}
					}
				}
			}
		}
	} 

	.banner-section .inner-banner {
		img {
			width: 98%;
		}
	}

	.ts {
		&__items {
			&__inner {
				.row {
					justify-content: center;
				}

				.item {
					width: 35%;
				}
			}
		}
    }

	.brand-logo {
		.inner-brand {
			&__item {
				img {
					width: 100%;
				}
			}
		}
	}

}

@media only screen and (max-width: 991px) {
	.header {
		&-top {
			.inner-ht {
				.inner-ht__infor {
					li {
						ul {
							.text {
								display: none;
							}
						}
					}
				}
			}
		}

		&-logo {
			.inner-hl {
				&__right {
					.input-group {
						input {
							padding: 0 100px 0 160px;
						}
					}
				}
			}
		}

		&-nav {
			.inner-hv {
				&__menu {
					li {
						a {
							padding: 15.5px 20p 14.5px;
						}
					}
				}
			}
		}
	}

	.slider {
		.inner-slider__item {
			.caption {
				.inner-caption {
					width: 80%;
					&__big-text {
						h1 {
							font-size: 50px;
							line-height: 50px;
						}
					}

					&__small-text {
						font-size: 12px;
						p {
							font-size: 14px;
						}
					}
				}
			}
		}
	} 

	.banner-section {
		.inner-banner {
			img {
				width: 98%;
			}
			
			&__big--text {
				top: 58.6%;
				h4 {
					padding: 0 0;
					font-size: 24px;
				}
			}
			
			&__small--text {
				h4 {
					font-size: 24px;
				}
			}
		}
	}

	.ts {
		&__items {
			&__inner {
				.item {
					width: 40%;
				}
			}
		}
	}

}

/* Tablet Device: 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header {
		&-logo {
		.inner-hl {
			flex-direction: column;
			align-items: center;
			}
		}

		&-nav {
			.inner-hv {
				justify-content: center;
				&__cate {
					display: none;
				}
			} 
		}
	}

	.fact-section {
		padding: 3% 0 0;
		.inner-fact {
			flex-wrap: wrap;
			justify-content: space-around;
			&__item {
				width: 40%;
				padding-bottom: 3%;
			}
		}
	}

	.footer {
    	&-infor {
        	&__inner {
            	&__items {
					&:first-child {
                		width: 30.8888%;
					}
					&:last-child {
						width: 19.1111%;
					}
				}
			}
		}
	}

}

/* Large Device: 480px */
@media only screen and (max-width: 767px) {
	.header {
		&-logo {
			.inner-hl {
				flex-direction: column;
				align-items: center;
				&__right {
					.input-group {
						input {
							padding: 0px 45px 0 160px;
						}
					}
				}
			}
		}

		&-nav {
			.inner-hv {
				justify-content: center;
				margin-left: 0;
				&__cate {
					display: none;
				}

				&__menu {
					li a {
						padding: 15.5px 15px 14.5px;
					}
				}
			}
		}
	}

	.slider {
		.inner-slider {
			&__item {
				.caption {
					padding-left: 5%;
    				top: 20.75%;
					.inner-caption {
						&__big-text {
							h1 {
								font-size: 35px;
								line-height: 35px;
							}
						}

						&__small-text {
							.btn-shop {
								width: 80%;
								border: none;
								&:hover {
									border: none;
									transform: none;
								}
							}
						}
					}
				}
			}
		}

		.left-slide {
			i {
				margin: -100% auto;
			}
		}

		.left-slide {
			border-top: 40px solid @white; 
			&:hover {
				border-top: 40px solid @main-color;
				i {
					color: @white; 
				}
			}
		}		

		.right-slide, .left-slide {
			width: 40px;
		}

		.right-slide i, .slider .left-slide i {
			font-size: 16px;
		}

		.right-slide {
			border-bottom: 40px solid @white
		}

		.right-slide 
		{
			i {
				margin: 30% auto;
			}
			
			&:hover {
				border-bottom: 40px solid @main-color;
			}
		}
	}

	.fact-section {
		padding: 3% 0 0;
		.inner-fact {
			flex-wrap: wrap;
			justify-content: space-around;
			&__item {
				width: 46%;
				padding-bottom: 3%;
				&--text span:last-child {
					display: none;
				}
			}
		}
	}

	.banner-section {
		.inner-banner {
			flex-direction: column;
			img {
				width: 100%;
			}

			&__small {
				&__item .bsf-img {
					margin-bottom: 1.5%;
				}
			}
		}
	}

	.ts {
		&__head {
			padding: 5% 0 2.5%;
			&__inner {
				&__title {
					width: 80%;
					span { display: none; }
				}
				&__button {
					padding-top: 20px;
					i {
						padding: 0 5px;
					}
				}
			}
		}

		&__items {
			&__inner {
				.item {
					width: 50%;
					padding: 10px 15px 10px;
					&-inner {
						.item {
							&__image {
								height: 215px;
								img { 
									width: 70%;
									height: auto;
								}
							}

							&__text {
								font-size: 13px;
							}
						}
					}
				}
			}
		}
    }

	.news-section {
		.inner-news {
			.news-main {
				.item {
					border: 1px solid @grey-white; 
					padding: 0 5px;
				}
			}

			&__news-title .bg-text {
				font-size: 80px;
			}
		}
	}

	.footer {
    	&-infor {
        	&__inner {
            	&__items {
					width: 50%;
					align-items: center;
					&:first-child, &:last-child {
						width: 50%;
					}

					ul {
						.text-center;
					}

					&:first-child {
						ul {
							padding: 5.5% 0 3%;
							li a {
								flex-direction: column;
								span {
									padding: 0 20%;
								}
							}
						}

						.footer-social {
							width: 100%;
							justify-content: center;
							margin-bottom: 10%;
						}
					}
				} 
			}
		}
	}

}

/* Small Device */
@media only screen and (max-width: 479px) {
	/* Header Media */
	.header {
		&-logo .inner-hl {
			&__right {
				flex-direction: column;
				.input-group {
					select {
						padding: 12px 0 12px 5px;
						&::after { 
							display: none;
						}
					}

					input {
						padding: 0 50px 0 105px;
					}

					button {
						height: 87%;
					}
				}

				.nav-right {
					margin-left: 25%;
					justify-content: center;
				}
			}
		}

		&-nav { 
			background: @white; 
			.inner-hv { 
				display: block; 
				width: 90%; 
				&__menu { 
					display: none; 
				} 
			} 
		}
	}

	#mobile-menu-wrap {
		cursor: pointer;
		.slicknav { 
			&_menu { 
				display: block; 
				background: transparent; 
				text-align: center;
				margin-top: -80px;
				padding: 12px 0;
				&txt {
					color: @white;
				}
			}

			&_btn { 
				margin-right: 25%;
			}
			
			&_nav {
				background: @main-color;
				margin-top: 12px;
				margin-left: 10%;
				li { 
					border-bottom: dotted 1px @grey-white;
					padding: 5px 0; 
				}

				a {
					color: @white;
					&:hover {
						color: @top-bg
					}
				}
			}

			&_btn {
				border-radius: 0;
				background-color: @main-color;
				display: inline-block;
				color: @white;
				padding: 5px 10px;
			}
		}
	}

	.slider {
		border-top: 1px solid @main-color;
		border-bottom: 1px solid @main-color;
		 .inner-slider {
			&__item {
				.caption {
					padding-left: 0;
					position: absolute;
    				top: 75%;
					.inner-caption {
						width: 100%;
						display: flex;
						justify-content: center;
						&__big-text {
							display: flex;
							flex-direction: row;
							h1 {
								font-size: 19px;
							}

							.first-line {
								display: flex;
							}

							.special-text {
								margin-left: 0;
							}
						}

						&__small-text {
							display: none;
						}
					}
				}
			}
		}
	}

	.fact-section {
		padding: 8% 0 4%;
		.inner-fact {
			flex-wrap: nowrap;
			flex-direction: row;
			&__item {
				width: 25%;
				justify-content: center;
				&--icon {
					padding-right: 0;
				}
				
				&--text {
					display: none;
				}
			}
		}
	}

	.banner-section {
		.inner-banner {
			&__big--text {
				top: 46.6%;
				left: 10%;
			}
		}
	}

	.ts {
		&__head {
			padding: 15% 0 15%;
			&__inner {
				&__title {
					width: 100%;
				}

				&__button {
					display: none;
				}
			}
		}

		&__items {
			&__inner {
				.item {
					padding: 0 15px;
					width: 100%;
					&-inner {
						.item {
							&__image {
								height: 200px;
								img {
									width: 50%;
								}
							}

							&__text {
								padding: 0 15%;
							}
						}
					}
				}
			}
		}
    }

	.news-section {
		.inner-news {
			.news-main { 
				.item {
					width: 100%;
					&__text {
						text-align: center;
						padding: 2% 0 6%;
						&__date {
							font-size: 13px;
							line-height: 13px;
						}
					}
				}
			}

			&__news-title {
				.bg-text {
				display: none;
				}
			}
		}
	}

	.newsletter-section {
		.inner-newsletter {
			&__form {
				input {
					width: 100%;
					font-size: 12px;
				}

				button {
					font-size: 12px;
					line-height: 12px;
					right: 2%;
					width: 20%;
				}
			}
		}
	}

	.brand-logo {
		.inner-brand {
			flex-wrap: wrap;
			&__item {
				width: 33.3333%;
			}

			&__item:first-child {
				width: 50%;
				padding: 0 2% 0 18%;
			}

			&__item:nth-child(2) {
				width: 50%;
				padding: 0 18% 0 2%;
			}
		}
	}

	.footer {
		&-infor {
			&__inner {
				&__items:first-child {
					ul {
						li {
							a {
								span {
									padding: 0 0;
								}
							}
						}
					}
				}
			}
		}

		&-copyright {
			&__inner {
				flex-direction: column-reverse;
				&__text {
					font-size: 11px;
				}
			}
		}
	}

}

/* So small devices */
@media only screen and (max-width: 320px) {
	.header-logo {
		.inner-hl {
			&__right {
				flex-direction: column;
				.input-group {
					select {
						display: none;
					}

					input {
						padding: 0 80px 0 15px;
					}
				}
			}
		}
	} 
	
	.slider {
		.right-slide, .left-slide {
			top: 30%;
		}
	}

	.banner-section {
		.inner-banner {
			&__big--text {
				top: 38%;
				left: 1.5%;
			}
			
			&__small {
				&__item {
					&--text-1 {
					top: 18%;
					}
				}
			}
		}
	}
	
}
